@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing:border-box;
   font-family: "Merriweather", serif;
}


:root{
     
    /*colors*/
  --white-color:white;
  --dark-color:#252525;
  --primary-color:#3b141c;
  --secondary-color:#f3961c;
  --light-pink-color:#faf4f5;
  --medium-gray-color:#ccc;

/*font size */
--font-size-s:0.9rem;
--font-size-n:1rem;
--font-size-m:1.12rem;
--font-size-1:1.5rem;
--font-size-x1:2rem;
--font-size-xx1:2.3rem;

/*font weight*/
--font-weight-normal:400;
--font-weight-medium:500;
--font-weight-semihold:600;
--font-weight-bold:700;

/* border radius*/
--border-radius-s:8px;
--border-radius-m:30px;
--border-radius-circle:50%;

/* site max width */
--site-max-width:1300px;

}
  

/* for whole site */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}
 

/* navbar style */

header {
    background: var(--primary-color);
}

header .navbar {
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
}


.navbar .nav-logo .logo-text {
    color:white;
} /*color can be in var i.e select from roots or can be written */


.navbar .nav-menu {
      display: flex;
      gap:10px;
}


.navbar .nav-menu .nav-link {
    color: var(--white-color);
}
