@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Math&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Miniver&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --primary-color: #f2994a;
  --primary-color-dark: #d48540;
  --secondary-color: #481911;
  --text-dark: #1c1917;
  --text-light:#57534e;
  --extra-light: #d6d3d1;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Merriweather", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section_container {
  max-width: var(--max-width);
  pad: 5rem 1rem;
}

.section_header {
  font-size: 2.5rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.btn{padding: .75rem 1.5rem;
outline: none;
border: none;
font-size: 1rem;
font-weight: 500;
color: var(--white);
background-color: var(--primary-color);
border: 2px solid var(--primary-color);
transition:0.3s;
cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color-dark);
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html, body {
scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  min-height: 75;
}


header {
  min-height: 150vh;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQAeMH-XdM48nkzETiAxmgujdg6fqObLjmXMmJooAwSlQ&s=10");
  background-position:  center center;
  background-size: cover;
  background-repeat: no-repeat;
}

