@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Libertinus+Math&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&family=Miniver&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --primary-color: #f2994a;
  --primary-color-dark: #d48540;
  --secondary-color: #481911;
  --text-dark: #1c1917;
  --text-light:#57534e;
  --extra-light: #d6d3d1;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "Merriweather", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section_container {
  max-width: var(--max-width);
  padding: 5rem 1rem;
}

.section_header {
  font-size: 2.5rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.btn{padding: .75rem 1.5rem;
outline: none;
border: none;
font-size: 1rem;
font-weight: 500;
color: var(--white);
background-color: var(--primary-color);
border: 2px solid var(--primary-color);
transition:0.3s;
cursor: pointer;
}

.btn:hover {
  background-color: var(--primary-color);
  border-color: var(--primary-color-dark);
}

a {
  text-decoration: none;
  transition: 0.3s;
}

ul {
  list-style: none;
}

html, body {
scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}


header {
  min-height:100vh;
  
  background-image: url("https://i.pinimg.com/1200x/5b/f6/07/5bf607f0d3a326af4c1b062c9966d986.jpg");
  background-position:  center center;
  background-size: cover;
  background-repeat: no-repeat;
}


nav {
  position: fixed;
  isolation: isolate;
  width: 100%;
  z-index: 9;
}

.nav_header {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--primary-color);
}

.nav_logo img {
  max-width: 110px;
}

.nav_menu_btn {
font-size: 1.5rem;
color: var(--white);
cursor: pointer;
}

.nav_links {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
background-color: var(--primary-color);
transition: transform 0.5s;
z-index: -1;
}

.nav_links.open {
  transform: translateY(100%);
}

.nav_links a {
  font-weight: 500;
  color: var(--white);
  white-space: nowrap;
}

.nav_links a:hover {
  color: var(--text-dark);
}

.header_container h1 {
  margin-bottom: 2rem;
  font-size: 4rem;
  font-weight: 600;
  font-family: var(--header-font);
  color: var(--white);
  text-align: center;
}

.header_container p {
  margin-bottom: 2rem;
  line-height: 1.75rem;
  color: var(--white);
  text-align: center;
}

.header_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.header_btns .btn {
  min-width: 150px;
}

.header_btns .btn:nth-child(2) {
  border-color: var(--white);
  background-color: transparent;
}

.header_btns .btn {
  border-color: var(--primary-color);
  background-color: var(--primary-color);
}

.menu {
  position: relative;
  isolation: isolate;
}

.menu:before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  height: 100%;
  width: calc(50% - 450px);
  background-color: #2a1d1c;
  z-index: -1;
}

.menu_container .section_header {
  margin-bottom: 1rem;
}

.menu_container a {
  display: inline-block;
  margin-bottom: 4rem;
  font-size: 1rem;
  font-weight: 500;
  color: var(--primary-color);
}

.menu_container a:hover {
  color: var(--primary-color-dark);
}

.menu_grid {
  display:grid;
  gap:1rem;
}

.menu_card {
  max-width: 300px;
  margin-inline: auto;
  box-shadow: 20px 5px 30px rgba(0,0,0,0.4);
}

.menu_card img {
  width: 300px;
  height: 300px;
}

.menu_card:hover {
  transform: translateY(-1rem);
}

.menu_card_content {
  padding: 1rem;
  background-color: var(--white);
}

.menu_card_content h4 {
  margin-bottom: .5rem;
  font-size: 1.2rem;
  font-weight: 800;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.menu_card_content h3 {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
}


.book {
  margin-block: 5rem;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbKBMdl7d8YVcd_ZG2OwQqy-ACbHg78YVCWd1gZJl5_w&s=10");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}


.book_container form {
  max-width: 600px;
  padding: 1rem;
  display: grid;
  gap: 2rem;
  background-color: #2a1d1c;
  transform: translateY(10rem);
}

.book_container form h4 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--header-font);
  color: var(--white);
}

.book_container .input_row {
  display: grid;
  gap: 1rem;
}

.book_container .input_group {
  display: grid;
  gap: 10px;
  
}


@media (width > 540px) {
  .menu_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width > 768px) {
  nav {
    position: static;
    padding:  2rem 1rem;
    max-width:  var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem; 
   }

 .nav_header {
  flex: 1;
  padding: 0;
  background-color: transparent;
 }  

  .nav_logo h2 {
    color: white;
}

 .nav_menu_btn {
  display: none;
 }

 .nav_links {
  position: static;
  width: fit-content;
  padding: 0;
  flex-direction: row;
  gap: 3rem;
  background-color: transparent;
  transform: none !important;
 }


 .nav_links a:hover {
  color: var(--primary-color);
 }

 .header_container h1 {
  max-width: 600px;
  text-align: left;
 }

 .header_container p {
  max-width: 400px;
  text-align: left;
 }

 .header_btns {
  justify-content: flex-start;
 }

 .menu_grid {
  grid-template-columns: repeat(4, 1fr);
 }

}

@media (width > 1024px) {
  .menu_grid {
    gap: 1.5rem;
  }

  .menu_card_content {
    padding: 1.5rem;
  }
}